:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --main-color: cadetblue;
    --accent-color:rgba(44,143,143,0.603);
}
* {
    margin: 0;
    padding: 0;
}
.logo {
    color:var(--main-color);
    font-size: 48px;
}

.img {
    max-width: 400px;
}             

#home{
    margin-top: 100px;
}
header#home{
    margin-top: 10px;
}
article.product p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p:hover{
    text-decoration:underline;
}
p::first-letter{
    font-size: 34px;
    color:var(--accent-color);

}